@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sprint.Grid";
}
@*@Html.Action("Grid")*@
<h3>
    <a class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a>Getting Started
</h3>
<ul>
    <li>Install <a href="http://nuget.org/packages/Sprint.Grid/" target="_blank">Sprint.Grid</a>, <a href="http://nuget.org/packages/jQuery/" target="_blank">jQuery</a> and <a href="http://nuget.org/packages/jQuery.UI.Combined/" target="_blank">jQuery UI</a> via <a href="http://nuget.org">NuGet</a>.     </li>
    <li>Include jQuery, JQuery UI, sprint.grid.js and sprint.grid.css to your project.</li>
    <li>Create your GridModel.</li>
</ul>
<h3>
    <a class="anchor" href="#support-or-contact"><span class="octicon octicon-link"></span></a>Example
</h3>
<a href="#" class="js-refresh-customer">refresh</a>
<a href="#" class="js-reset-customer">reset</a>
<br />
@Html.Action("Grid")
<br />
<br />
<p><strong>/GridModels/CustomerGridModel.cs</strong></p>

<pre class="prettyprint linenums">
public class CustomerGridModel : GridModel&lt;Customer>
{
    public CustomerGridModel(string gridKey) : base(gridKey)
    {
        Columns.For((c, html) => c.Name, "Name")
                   .Title("Name")
                   .SortColumn(c => c.Name,SortDirection.Ascending)                   
                   .HeaderAttributes(new { style = "width:200px" });
            Columns.For((c, html) => c.Country, "Country")
                   .Title("Country")
                   .SortColumn(c => c.Country)
                   .GroupColumn(c => c.Country)
                   .HeaderAttributes(new { style = "width:100px" });
            Columns.For((c, html) => c.City, "City")
                   .Title("City")
                   .SortColumn(c => c.City)
                   .GroupColumn(c => c.City)
                   .HeaderAttributes(new { style = "width:91px" });
            Columns.For((c, html) => c.Region, "Region")
                   .Title("Region")
                   .SortColumn(c => c.Region)
                   .GroupColumn(c => c.Region,1)
                   .HeaderAttributes(new { style = "width:101px" });
            Columns.For((c, html) => c.Code, "Code")
                   .Title("Code")
                   .SortColumn(c => c.Code)
                   .GroupColumn(c => c.Code)
                   .HeaderAttributes(new { style = "width:101px" });
            Columns.For((c, html) => c.ContactName, "ContactName")
                   .Title("ContactName")
                   .SortColumn(c => c.ContactName)
                   .GroupColumn(c => c.ContactName)
                   .HeaderAttributes(new { style = "width:202px" });
            Columns.For((c, html) => c.ContactTitle, "ContactTitle")
                   .Title("ContactTitle")
                   .SortColumn(c => c.ContactTitle)
                   .GroupColumn(c => c.ContactTitle)
                   .HeaderAttributes(new { style = "width:155px" });
            PageSize = 10;
            PageSizeInGroup = 5;
    }
}</pre>

<p><strong>/Controllers/CustomerController.cs</strong></p>

<pre class="prettyprint linenums">public class CustomerController : Controller
{
    private readonly ICustomerService _customerService;
    public const string CustomerGridKey = "customer";
    public CustomerController(ICustomerService customerService)
    {
        _customerService = customerService;
    }    
    public ActionResult Index()
    {
        return View();
    } 
    public ActionResult Grid(GridOptions options)
    {
        var query = _customerService.GetAll();
        var model = new CustomerGridModel(CustomerGridKey);
        return View(new ActionGridView&lt;Customer>(model, query).Init(options));
    }        
}</pre>

<p><strong>/Views/Customer/Index.cshtml</strong></p>

<pre class="prettyprint linenums">@Html.Raw("@{")
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_1ColumnLayout.cshtml";    
}
@Html.Raw("@")Html.Action("Grid")</pre>

<p><strong>/Scripts/Common.js</strong></p>

<pre class="prettyprint linenums">$(document).ready(function () {
    $('.sprint-grid').sprintgrid();
});</pre>
